{% extends 'base.html' %}

{% block title %}
{{ category.title }}
{% endblock %}

{% block sidebar %}
<h2>Список категорий</h2>
<div class="col-md-4">
    <div class="list-group">
        {% for item in categories %}
        <a href="{% url 'category' item.pk %}" class="list-group-item list-group-item-action">{{ item.title }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-md-8">
    <h1>{{ title }}</h1>
    {% for item in news %}
        <div class="card mb-3">
        <div class="card-header">
            Категория: {{ item.category }}
        </div>
        <div class="card-body">

        <div class="media-body">
           {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="" width="250" class="mr-3">
           {% else %}
                <img src="https://loremflickr.com/640/360" alt="" width="250" class="mr-3">
           {% endif %}
       </div>
        <h2 class="card-title {% cycle 'text-danger' 'text-success'%}">{{ item.title }}</h2>
            {% autoescape off %}
            <p class="card-text">{{ item.content|linebreaks|truncatewords:50 }}</p>
            {% endautoescape %}
        <button class="button" type="button" ontouchstart>
            <div class="button-top"><a href="#">Read more...</a></div>
            <div class="button-bottom"></div>
            <div class="button-base"></div>
        </button>
    </div>
        <div class="card-footer text-muter">
            {{ item.created_at|date:"Y-m-d H:i:s" }}
        </div>
    </div>
    {%endfor %}
</div>

{% endblock %}



