{% extends 'base.html' %}

{% block sidebar%}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% for item in news %}
    <div class="card mb-3">
        <div class="card-header">
            Категория: {{ item.category }}
        </div>
        <div class="card-body">

            <div class="media-body">
                {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="" width="250" class="mr-3">
                {% else %}
                <img src="https://loremflickr.com/640/360" alt="" width="250" class="mr-3">
                {% endif %}
            </div>
            <h2 class="card-title {% cycle 'text-danger' 'text-success'%}">{{ item.title }}</h2>
            {% autoescape off %}
            <p class="card-text">{{ item.content|linebreaks|truncatewords:50 }}</p>
            {% endautoescape %}
            <button class="button" type="button" ontouchstart>
                <div class="button-top"><a href="{{ item.get_absolute_url }}">Read more...</a></div>
                <div class="button-bottom"></div>
                <div class="button-base"></div>
            </button>
        </div>
        <div class="card-footer text-muter">
            {{ item.created_at|date:"Y-m-d H:i:s" }}
        </div>
    </div>
    {%endfor %}
{% endblock %}

